[
  {
    "file": "1.mp4",
    "title": "First video title"
  },
  {
    "file": "2.mp4",
    "title": "Second video title"
  },
  {
    "file": "3.mp4",
    "title": "Third video title"
  },
  {
    "file": "4.mp4",
    "title": "Fourth video title"
  },
  {
    "file": "5.mp4",
    "title": "Fifth video title"
  }
]
